# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

In [1]:
import pandas as pd

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [4]:
df = pd.read_csv(r"https://raw.githubusercontent.com/Cat-in-box/FA/main/3%20%D0%BA%D1%83%D1%80%D1%81/%D0%A2%D0%9E%D0%91%D0%94/data/sp500hst.txt", sep =',', header=None, names=["date", "ticker", "open", "high", "low", "close", "volume"])
df

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [5]:
df.iloc[:, 3:6].mean()

high     43.102243
low      42.054464
close    42.601865
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [6]:
pd.to_datetime(df['date'],format="%Y%m%d").dt.month.head()

0    8
1    8
2    8
3    8
4    8
Name: date, dtype: int64

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [7]:
df['ticker'].str.lower().head()
df['open'].mean()

42.5954576590471

In [8]:
df.groupby('ticker')['open'].mean()

ticker
A        30.234857
AA       13.086959
AAPL    221.342427
ABC      27.432122
ABT      50.996776
           ...
XTO      44.640338
YHOO     15.854774
YUM      37.456898
ZION     19.694057
ZMH      56.220980
Name: open, Length: 524, dtype: float64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [9]:
headers = ["ticker", "company", "percent"]
sp = pd.read_csv("https://raw.githubusercontent.com/Cat-in-box/FA/main/3%20%D0%BA%D1%83%D1%80%D1%81/%D0%A2%D0%9E%D0%91%D0%94/data/sp_data2.csv", sep=";", names=headers)
sp

    ticker          company percent
0     AAPL            Apple    3.6%
1     AMZN       Amazon.com    3.2%
2    GOOGL         Alphabet    3.1%
3     GOOG         Alphabet    3.1%
4     MSFT        Microsoft    3.0%
..     ...              ...     ...
500    SCG            SCANA    0.0%
501    AIZ         Assurant    0.0%
502    AYI    Acuity Brands    0.0%
503    HRB        H&R Block    0.0%
504    RRC  Range Resources    0.0%

[505 rows x 3 columns]

In [10]:
pd.merge(df, sp, how='inner', left_on="ticker", right_on="ticker")

           date ticker   open  ...  volume               company  percent
0      20090821      A  25.60  ...   34758  Agilent Technologies     0.1%
1      20090824      A  25.64  ...   22247  Agilent Technologies     0.1%
2      20090825      A  25.50  ...   30891  Agilent Technologies     0.1%
3      20090826      A  25.32  ...   33334  Agilent Technologies     0.1%
4      20090827      A  25.50  ...   70176  Agilent Technologies     0.1%
...         ...    ...    ...  ...     ...                   ...      ...
82167  20100813   ZION  20.17  ...   25193         Zions Bancorp     0.0%
82168  20100816   ZION  19.81  ...   25914         Zions Bancorp     0.0%
82169  20100817   ZION  20.07  ...   31717         Zions Bancorp     0.0%
82170  20100819   ZION  19.83  ...   45935         Zions Bancorp     0.0%
82171  20100820   ZION  19.15  ...   37225         Zions Bancorp     0.0%

[82172 rows x 9 columns]

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами.

In [11]:
recipes = pd.read_csv(r"https://raw.githubusercontent.com/Cat-in-box/FA/main/3%20%D0%BA%D1%83%D1%80%D1%81/%D0%A2%D0%9E%D0%91%D0%94/data/recipes_sample.csv", sep=",")
recipes

                                               name  ...  n_ingredients
0             george s at the cove  black bean soup  ...           18.0
1                healthy for them  yogurt popsicles  ...            NaN
2                      i can t believe it s spinach  ...            8.0
3                              italian  gut busters  ...            NaN
4          love is in the air  beef fondue   sauces  ...            NaN
...                                             ...  ...            ...
29995  zurie s holey rustic olive and cheddar bread  ...           10.0
29996          zwetschgenkuchen  bavarian plum cake  ...           11.0
29997   zwiebelkuchen   southwest german onion cake  ...            NaN
29998                                   zydeco soup  ...            NaN
29999        cookies by design   cookies on a stick  ...           10.0

[30000 rows x 8 columns]

In [12]:
reviews = pd.read_csv("https://raw.githubusercontent.com/Cat-in-box/FA/main/3%20%D0%BA%D1%83%D1%80%D1%81/%D0%A2%D0%9E%D0%91%D0%94/data/reviews_sample.csv", sep=",")
reviews

        Unnamed: 0  ...                                             review
0           370476  ...  Last week whole sides of frozen salmon fillet ...
1           624300  ...  So simple and so tasty!  I used a yellow capsi...
2           187037  ...  Very nice breakfast HH, easy to make and yummy...
3           706134  ...  These are a favorite for the holidays and so e...
4           312179  ...  Excellent soup!  The tomato flavor is just gre...
...            ...  ...                                                ...
126691     1013457  ...  This recipe was great! I made it last night. I...
126692      158736  ...  This recipe is outstanding. I followed the rec...
126693     1059834  ...  Well, we were not a crowd but it was a fabulou...
126694      453285  ...  I have been a steak eater and dedicated BBQ gr...
126695      691207  ...  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [13]:
print("recipes".upper(), "\n- количество точек данных (строк):", recipes.shape[0],
      "\n- количество столбцов:", recipes.shape[1],
      "\n- тип данных каждого столбца:\n" + str(recipes.dtypes))

RECIPES
- количество точек данных (строк): 30000
- количество столбцов: 8
- тип данных каждого столбца:
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [14]:
print("reviews".upper(), "\n- количество точек данных (строк):", reviews.shape[0],
      "\n- количество столбцов:", reviews.shape[1],
      "\n- тип данных каждого столбца:\n" + str(reviews.dtypes))

REVIEWS
- количество точек данных (строк): 126696
- количество столбцов: 6
- тип данных каждого столбца:
Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

1.5 Создайте серию из 10 случайных названий рецептов.

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами).

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы?

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты без отзывов должны отсутствовать в данной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`. У рецептов, для которых отсутствуют отзывы, в соответствущем столбце должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

5.3. Выясните, отзывы, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.