# **ЭКОНОМЕТРИКА**
## Домашняя работа №2

## *Множественная регрессия*

#### **Задание.**

Постройте линейную модель множественной регрессии.

Оцените ее качество. Сделайте тесты на значимость модели в целом и отдельно на значимость ее параметров.

Постройте парную модель регрессии, для этого выберите фактор, который оказывает наибольшее влияние на эндогенную переменную.

Сравните характеристики качества двух моделей. Выберите лучшую.

Для выбранной модели рассчитайте бетта и дельта коэффициенты, коэффициенты эластичности.

Проинтерпретируйте полученные результаты.

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/Cat-in-box/FA/main/3%20%D0%BA%D1%83%D1%80%D1%81/Econometrics/Lab3/data.csv', delimiter=";", header=0, names=['№','y','x1','x2','x3', 'x4']).drop('№', axis=1)
data

          y    x1     x2     x3   x4
0   12345.0  2769  29.67   94.2  9.6
1   12091.9  3065  28.94  101.1  9.5
2   12339.7  3899  28.43  111.6  9.5
3   12450.6  3790  27.50  119.7  9.6
4   12832.1  3963  28.07  112.0  9.6
5   12892.1  4224  28.08  112.0  9.4
6   13224.5  4645  27.68  115.3  9.0
7   13449.9  4914  28.86  109.6  8.2
8   13476.8  4830  31.88  112.6  7.2
9   13588.9  4815  29.90  108.7  7.2
10  13600.4  4401  31.32  110.9  6.8
11  13768.5  5189  32.20  108.0  6.1
12  14796.6  3434  30.36  109.8  4.2
13  14424.2  5195  28.95  119.2  3.7
14  14607.3  5401  29.33  123.3  3.7
15  14688.0  4239  29.36  117.8  3.6
16  15057.3  4558  32.45  109.2  3.6
17  15161.0  4675  32.82   93.5  4.3
18  15534.6  6558  32.19  102.7  5.6
19  15544.5  6253  32.92  113.5  5.9
20  15644.4  5410  30.92  112.0  6.6
21  15717.8  5023  31.53  110.8  6.5